h1{
  color;blue:
  text-align:center;
}
h2{
color:green;
flont-style: italic
text-align :center;
}
P{
flont-family;sans-serif

}
ul{
color: blue;
line-height: 40px

}

body{
background-color:lightblue;
font-style:italic;


}
